<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Coinpayments.Api.CoinpaymentsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Coinpayments.Api.CoinpaymentsSettings>
            <setting name="PublicKey" serializeAs="String">
                <value>7e52d3de2ab61dc6fa62d3bdf39f8dc2419e1de8a92c213d93fcd048cb429fa1</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>48CCD816f5808Bb0ee80b4975fda41f0eEcCED81dbaA2AC5085DF9b6395dc7a6</value>
            </setting>
            <setting name="IpnSecret" serializeAs="String">
                <value>eKHaNscBIkXDm3szbXDvIVq1XvzIX6</value>
            </setting>
            <setting name="MerchantId" serializeAs="String">
                <value>0ba85efeaa35d18186d58ea995f02a08</value>
            </setting>
        </Coinpayments.Api.CoinpaymentsSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
