<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Coinpayments.Api.CoinpaymentsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Coinpayments.Api.CoinpaymentsSettings>
            <setting name="PublicKey" serializeAs="String">
                <value>6a466b85e7d587e84646bfb7781f66f80ccf30505b5e5c10553f63521fc15c3f</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>2dbC037f1Bbc8BD69F923c7859cB6f3fA7A510B8E92bdafA1450f5e4d7421908</value>
            </setting>
            <setting name="IpnSecret" serializeAs="String">
                <value>f7XVkifq9TET</value>
            </setting>
            <setting name="MerchantId" serializeAs="String">
                <value>7532c4bb09b896972596751de2f11515</value>
            </setting>
        </Coinpayments.Api.CoinpaymentsSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
